[Unit]
Description=PreCrawler
After=network.target

[Service]
ExecStart=/home/pi/.nvm/versions/node/v18.16.0/bin/node index.js

WorkingDirectory=/home/pi/GitHub/pre-scraper
StandardOutput=syslog
StardardError=syslog
SyslogIndentifier=pre_crawler
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
